<div id="follow-icons">
	<a href="http://twitter.com/frank_neff" rel="me"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="https://www.linkedin.com/in/frankneff" rel="me"><i class="fa fa-linkedin-square fa-2x"></i></a>
	<a href="http://github.com/frne" rel="me"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="https://plus.google.com/u/0/108756509079797052112" rel="author"><i class="fa fa-google-plus-square fa-2x"></i></a>
	<a href="{{ .Site.BaseURL }}index.xml" rel="me"><i class="fa fa-rss-square fa-2x"></i></a> 
</div>  
